{% extends "pos/base.html" %}
{% load static %}

{% block title %}Ürün Ekle{% endblock title %}

{% block stylesheets %}
<link href="{% static 'css/label.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block heading %}Ürün Ekle{% endblock heading %}

{% block content %}
<div class="row ml-0 mb-3">
    <a href="{% url 'products:products_list' %}">
        <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Geri
        </button>
    </a>
</div>

<div class="row">
    <div class="card col-md-8">
        <div class="card-body">
            <form action="{% url 'products:products_add' %}" method="post">
                {% csrf_token %}

                <!-- Dropdown Fields -->
                <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="state" class="m-0 font-weight-bold text-primary">Durum</label>
                    <select name="state" class="form-control" required>
                        {% for status in product_status %}
                            <option value="{{ status.0 }}">{{ status.1 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="category" class="m-0 font-weight-bold text-primary">Kategori</label>
                    <select name="category" class="form-control" required>
                        <option value="" selected disabled hidden>Kategori Seçimi</option>
                        {% for category in categories %}
                             <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>

                <!-- General Input Fields -->
                <!--{% for field in general_fields %}
                <div class="form-group col-md-8">
                    <label for="input{{ field.name }}" class="m-0 font-weight-bold text-primary">{{ field.label }}</label>
                    <input type="{{ field.type }}" name="{{ field.name }}" step="any" class="form-control" placeholder="" required>
                </div>
                {% endfor %}-->

                {% for field in fields %}
                <div class="form-group col-md-{{ field.size|default:8 }}">
                    <label for="{{ field.name }}" class="m-0 font-weight-bold text-primary">{{ field.label }}</label>
                    {% if field.type == "select" %}
                    <select name="{{ field.name }}" class="form-control" required>
                        {% for choice in field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == field.value %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    <input type="{{ field.type }}" name="{{ field.name }}" class="form-control" value="{{ field.value }}" required>
                    {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-success font-weight-bold">Ürün Oluştur</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
